################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/VideoDecoderSpeedTester/x64
/Test_Machine_Decoding_Performance.docx
